
.prefix-user-image {
    background: white;
    text-align: center;
}

.prefix-user-image .fa-user-circle-o {
    margin: 100px 0;
}

.prefix-profile-details .fa {
    margin-bottom: 10px;
    margin-right: 10px;
}